@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: Poppins;
    color: #3c3c3c;
}

h1{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 3rem;
    color: rgb(75, 75, 75);
}

iframe{
    display: flex;
    width: 642px;
    height: 361px;
}

.link-pag-inicial{
    text-decoration: underline;
    letter-spacing: 0.1em;
}

.paragraph{
    text-align: start;
    width: 23%;
    letter-spacing: 0.1em;
}
.container{
    display: flex;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-main{
    display: flex;
    margin: 20px 0px;
    gap: 3rem;
    justify-content: center;
}


.video{
    display: flex;
    padding: 1rem;
}
.first-icon-heart, .second-icon-share, .third-icon-print{
    height: 20px;
    width: 20px;
}

.path{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.ul-actions{
    gap: 5rem;
}

.bordinha{
    display: flex;
    align-items: center;
    box-shadow: 100%;
    border-radius: 50%;
    padding: 0.5rem;
    border: 1px solid;
    cursor: pointer;
}

ul{ 
    display: flex;
    justify-content: space-between;
    list-style-type: none; 
}

.ul-info{
    border: solid 0.1rem rgba(128, 128, 128, 0.397);
    padding: 0.8rem;
    width: 25%;
    border-radius: 0.5rem;
    background: rgba(214, 214, 214, 0.39);
    font-size: 1rem;
    font-family: Poppins;
    margin: 20px 0px;
    
}

.icon{
    width: 10px;
}
