body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

.navbar{
    background-color: var(--navbar-bg);
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar ul{
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
}

footer{
    background-color: var(--footer-bg);
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.dark-mode-toggle{
    cursor: pointer;
    padding: 10px 20px;
    background-color: var(--text-color);
    color: var(--bg-color);
    border-radius: 10px;
}

a{
    color: var(--text-color);
    text-decoration: none;
}